__pycache__
./windows/__pycache__/*
./windows/__pycache__/*.pyc
./android/__pycache__/*
./android/__pycache__/*.pyc
./android/app/__pycache__/*
./android/app/__pycache__/*.pyc
.idea
.vscode
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
